<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuong.wanandroidkotlin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

        <meta-data
            android:name="com.yuong.wanandroidkotlin.help.MyGlideModule"
            android:value="GlideModule"
            tools:node="remove"/>

        <activity android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yuong.wanandroidkotlin.ui.main.ui.MainActivity">

        </activity>

        <activity android:name=".ui.tree.ui.TreeArticleActivity"/>
        <activity android:name=".ui.login.ui.LoginActivity"/>
        <activity android:name=".ui.search.ui.SearchActivity"/>
        <activity android:name=".ui.search.ui.SearchResultActivity"/>
        <activity android:name=".ui.collect.ui.CollectActivity"/>
        <activity android:name=".ui.todo.ui.activity.TodoActivity"/>
        <activity android:name=".ui.todo.ui.activity.TodoDetailActivity"/>

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
    </application>

</manifest>